
.story-text {
  max-width: 700px;
  margin: 0 auto;
  box-sizing: content-box;
  font-family: $body-font;
  line-height: 1.5;
}

.opacityWrapper,
.scaleWrapper,
.numberWrapper,
.letterWrapper {
  text-align: center;
  position: relative;

  p,
  h2 {
    text-align: left;
  }
}

.scaleTrigger,
.opacityTrigger,
.numberTrigger {
  position: relative;
  min-height: 1px;
}


.opacityWrapper {
  display: table;
  background-color: #eee;
  padding: 40px;

  h2 {
    display: table-header-group;
  }

  &:before,
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

.opacity-text {
  width: 100%;
  padding-top: 20px;

  @media screen and (min-width: 600px) {
    display: table-cell;
    width: 50%;
  }
}

.opacityContainer {
  position: relative;
  width: 50px;
  height: 50px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  box-sizing: border-box;
  @media screen and (min-width: 600px) {
    display: table-cell;
    // float: left;
    width: 50%;
  }

  li {
    position: absolute;
    width: 100%;

    @media screen and (min-width: 600px) {
      top: calc(50% - 125px);
    }

    br {
      display: none;
    }

  }


  .opacityImg {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    @media screen and (min-width: 900px) {
      width: 250px;
      height: 250px;
      margin: 0 auto;
    }
  }

  span {
    display: block;
    font-family: $primary-title;
    font-weight: bold;
    color: $red;
    font-size: 24px;
    @media screen and (min-width: 900px) {
      font-size: 30px;
    }
  }
}

.scaleContainer {
  display: inline-block;
  margin: 50px auto;
  padding: 0;
  list-style-type: none;
  height: 35px;
  box-sizing: border-box;
  @media screen and (min-width: 600px) {
    margin: 100px auto;
  }
}

.scaleImg {
  position: relative;
  display: block;
  float: left;
  height: 50px;
  width: 25px;
  box-sizing: border-box;
  margin: 0;
  fill: #A1C1B0;

  @media screen and (min-width: 600px) {
    height: 100px;
    width: 50px;
  }
}

.numberWrapper {
  text-align: center;
  background-color: #333;
  margin: 40px auto;
  border-radius: 3px;

  &:after {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100px;
    height: 100px;
    display: block;
    content: "";
    background: url("/interactive/2019/01/fake-news/images/fake-news.svg") no-repeat center;
  }
}

.numberContainer {
  display: block;
  text-align: center;
  position: relative;
  margin: 70px auto 0;
  padding: 80px 0 40px;
  list-style-type: none;
  // height: 75px;
  box-sizing: border-box;
  text-align: center;
}

p.number,
.numberPlaceholder,
p.numberPlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-family: $body-font;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.numberText {
  display: block;
  font-family: $body-font;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  color: #fff;

  &--before {
    position: absolute;
    top: -38px;
    left: calc(50% - 225px);
    font-family: $body-font;
    font-size: 20px;
    color: #fff;
  }
}

.percent {
  font-size: 50px;
}


.letterWrapper {
  text-align: center;
}

.letterContainer {
  position: relative;
  margin: 50px auto;
  padding: 0;
  list-style-type: none;
  height: 44px;
  box-sizing: border-box;
  text-align: center;

  > p:not(.letterText) {
    display: none;
  }
}

.letterText {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-family: $body-font;
  box-sizing: border-box;
  margin: 0;
  color: #333;

  &:before {
    content: "“";
    font-size: 40px;
  }
  &:after {
    content: "”";
    font-size: 40px;
  }
}

.letter {
  display: inline-block;
  min-width: 5px;
  font-size: 20px;
  font-family: $body-font;
}

.barchartWrapper {
  position: relative;
  width: 100%;
  background-color: #eee;
  padding: 40px 40px 40px 30px;
  box-sizing: border-box;

  &:before,
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

.barchartTrigger {
  height: 2px;
}

.barchart {
  position: relative;
  width: 84%;
  margin: 0 auto;
  box-sizing: border-box;
}

.barchart-y {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    background-color: #000;
    width: 1px;
    height: 100%;
    content: "";
  }

  li {
    margin: 4px 0 4px -100px;
    text-align: right;
    width: 100px;
  }
}

.barchart-x {
  position: absolute;
  display: flex;
  bottom: -10px;
  list-style-type: none;
  width: calc(100% - 30px);
  margin: 0;
  margin: 0 0 0 10px;
  padding: 0 20px;
  border-top: 1px solid #000;
  justify-content: space-between;
  li {
    text-align: center;
    flex-basis: 35px;
  }
}

.barchart-bars {
  position: absolute;
  display: flex;
  bottom: 14px;
  left: 30px;
  width: calc(100% - 30px);
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  box-sizing: border-box;
  li {
    background-color: #e84040;
    flex-basis: 35px;
    align-self: flex-end;
  }
}
