.dataviz-wrapper {
  // position: relative;
  width: 100vw;
  height: calc(70vw + 40px);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 50px 0;

  @media screen and (min-width: 600px) {
    width: 100vw;
    height: calc(70vw + 40px);
  }
}

.dataviz-inner {
  position: absolute;
  left: 0;
  background-color: #333;
  width: 100vw;
  height: calc(70vw + 40px);
}

.dataviz {
  width: 90vw;
  height: 70vw;
  margin: 0 auto;

  @media screen and (min-width: 600px) {
    width: 80vw;
  }
}

.dataviz-title {
  font-size: 20px;
  fill: #ccc;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;

}
.x2 path,
.x2 line {
  stroke: rgba(255,255,255,0.2);
  stroke-width: 3;
}

.axis text {
  fill: #ccc;
  font-size: 12px;
}

.x2 text {
  font-size: 16px;
  fill: #fff;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  width: 100px;
  pointer-events: none;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  font-family: $body-font;
  font-size: 12px;
  text-transform: capitalize;
}

.legend text {
  fill: #ccc;
  font-size: 12px;
}
